name = "SossMLJExamples"
uuid = "f99c56ef-d06c-41f8-bddc-77ad85e0956a"
authors = ["Chad Scherrer"]
version = "0.1.0-DEV"

[compat]
julia = "1.4"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
